@import url("https://use.typekit.net/ajs6oyz.css");

:root {
  --clr_bg: #000;
  --clr_pri: #dde2d6;
  --clr_sec: #8f9687;
  --clr_ter: #2d2f2a;
  --clr_acc: #38c3d2;

  --sp_xxs: 0.5rem;
  --sp_xs: 1rem;
  --sp_sm: 2rem;
  --sp_md: 4rem;
  --sp_lg: 8rem;
  --sp_xl: 16rem;
  --sp_xxl: 32rem;

  --fs_xs: 1.12em;
  --fs_sm: 1.25em;
  --fs_md: 1.87em;
  --fs_lg: 4em;
  --fs_xl: 6.5em;
  --fs_xxl: 20em;

  --ff_dis: neue-haas-grotesk-display, sans-serif;
  --ff_txt: neue-haas-grotesk-text, sans-serif;

  --transition: 0.2s linear;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  font-family: var(--ff_txt);
  background-color: var(--clr_bg);
  color: var(--clr_pri);
  /* mix-blend-mode: darken; */
}
header {
  min-height: 100vh;
}
img {
  max-width: 100%;
}
a {
  color: var(--clr_sec);
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  color: var(--clr_pri);
}
ul {
  list-style-type: none;
}
section {
  padding-block: var(--sp_md);
}
/* ! Typography */
h1,
h2,
h3 {
  font-family: var(--ff_dis);
  color: var(--clr_pri);
  line-height: 1;
}
h1 {
  font-size: var(--fs_xl);
}
h2 {
  font-size: var(--fs_md);
}
/* !Layout */
.nav {
  grid-column-end: -1;
  grid-row: 1/2;
}
.hero__img {
  position: absolute;
  mix-blend-mode: lighten;
  width: 80%;
  right: var(--sp_xs);
  top: 30vh;
}
.hero__header {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin-top: var(--sp_md);
}
.hero__sub {
  color: var(--clr_acc);
  grid-column: 2/-1;
  grid-row: 3/-1;
  font-weight: 500;
  text-align: right;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: var(--sp_sm);
}
header[class="grid"] {
  grid-template-rows: auto 1fr auto;
  padding-bottom: var(--sp_sm);
  box-sizing: border-box;
}
.grid3 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
}
.exp__title {
  grid-column: 1/-2;
  max-width: 12ch;
}
.exp__body {
  grid-column: 1/-1;
  margin-top: var(--sp_md);
}
.port__grid {
  grid-column: 1/-1;
}
.port__title {
  grid-column: 1/-2;
}
.about__title {
  grid-column: 1/-2;
}
.about__body {
  grid-column: 1/-2;
  margin-top: var(--sp_md);
}
/* ! */
/* ? Dekstop View */
@media only screen and (min-width: 75em) {
}
/* ? Tablet view */
@media only screen and (min-width: 31em) {
}
