@import url("https://use.typekit.net/ajs6oyz.css");

:root {
  --clr_bg: #000;
  --clr_pri: #dde2d6;
  --clr_sec: #8f9687;
  --clr_ter: #2d2f2a;
  --clr_acc: #38c3d2;

  --sp_xxs: 0.5rem;
  --sp_xs: 1rem;
  --sp_sm: 2rem;
  --sp_md: 4rem;
  --sp_lg: 8rem;
  --sp_xl: 16rem;
  --sp_xxl: 32rem;

  --fs_xs: 1em;
  --fs_sm: 1.25em;
  --fs_md: clamp(1.3rem, 1.8vw + 0.5rem, 2.5rem);
  --fs_lg: clamp(1.75rem, 2.5vw + 1rem, 4.5rem);
  --fs_xl: clamp(2.25rem, 5vw + 1rem, 6.5rem);
  --fs_xxl: clamp(7rem, 23vw + 1rem, 25rem);

  --ff_dis: neue-haas-grotesk-display, sans-serif;
  --ff_txt: neue-haas-grotesk-text, sans-serif;

  --transition: 0.2s linear;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  font-family: var(--ff_txt);
  background-color: var(--clr_bg);
  color: var(--clr_pri);
  /* mix-blend-mode: darken; */
}
header {
  min-height: 100vh;
}
img {
  max-width: 100%;
}
a {
  color: var(--clr_sec);
  text-decoration: none;
  transition: var(--transition);
  font-weight: 500;
}
a:hover {
  color: var(--clr_pri);
}
ul {
  list-style-type: none;
}
section {
  padding-block: var(--sp_sm);
}
footer {
  padding-bottom: var(--sp_md);
}
.footer__links {
  padding: 0;
  margin-top: var(--sp_sm);
}
.footer__links > ul > li {
  margin-left: var(--sp_xs);
  margin-top: var(--sp_xxs);
}
.footer__links > ul > li:first-child {
  margin-top: var(--sp_xs);
}
.footer__address > * {
  margin-top: var(--sp_xxs);
}
.footer__address > *:first-child {
  margin-top: var(--sp_xs);
}
.deco {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 1;
  background-color: var(--clr_acc);
}
.port__card {
  width: 100%;
  aspect-ratio: 1/0.8;
  position: relative;
}
p + h3 {
  margin-top: var(--sp_sm);
}
p + h4 {
  margin-top: var(--sp_sm);
}
h2 + h3 {
  margin-top: var(--sp_sm);
}
/* ! Typography */
h1,
h2,
h3,
h4 {
  font-family: var(--ff_dis);
  color: var(--clr_pri);
  line-height: 1;
  font-weight: 700;
}
h1 {
  font-size: var(--fs_xxl);
}
h2 {
  font-size: var(--fs_xl);
  margin-bottom: var(--sp_xs);
}
h3 {
  font-size: var(--fs_lg);
  margin-bottom: var(--sp_sm);
}
h4 {
  font-size: var(--fs_md);
  margin-bottom: var(--sp_xs);
}
p {
  font-size: 1em;
  margin-bottom: var(--sp_xxs);
  max-width: 60ch;
}
.nav__links {
  position: fixed;
  inset: 0 0 0 0;
  background-color: var(--clr_bg);
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-block: var(--sp_xl);
}
.footer__sec-title {
  font-size: var(--fs_sm);
}
.port__card > p {
  font-size: clamp(6rem, 20vw + 1rem, 14rem);
  position: absolute;
  inset: auto auto -0.2em 0;
  z-index: 2;
  font-weight: 700;
  color: var(--clr_pri);
}
.hero__header.is--2 {
  font-size: clamp(5rem, 12vw + 1rem, 16rem);
}
/* !Layout */
.nav {
  grid-column-end: -1;
  grid-row: 1/2;
}
#nav__btn {
  position: absolute;
  right: var(--sp_sm);
  top: var(--sp_xs);
  z-index: 5;
  padding: 1em 0 1em 1em;
  width: 0.5em;
  aspect-ratio: 1/0.8;
  background-image: url(../media/Menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__img {
  position: absolute;
  mix-blend-mode: lighten;
  width: 80%;
  right: var(--sp_xs);
  top: 30vh;
}
.hero__header {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin-top: var(--sp_md);
}
.hero__p {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.hero__sub {
  color: var(--clr_acc);
  grid-column: 2/-1;
  grid-row: 3/-1;
  font-weight: 500;
  text-align: right;
  max-width: 25ch;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: var(--sp_sm);
  grid-gap: 1.4rem;
}
header[class="grid"] {
  grid-template-rows: auto 1fr auto;
  padding-bottom: var(--sp_sm);
  box-sizing: border-box;
}
.grid3 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
}
.exp__title {
  grid-column: 1/-2;
  max-width: 12ch;
}
.exp__body {
  grid-column: 1/-1;
  margin-top: var(--sp_sm);
}
.port__grid {
  grid-column: 1/-1;
}
.port__title {
  grid-column: 1/-2;
}
.port__sub {
  margin-top: var(--sp_sm);
  grid-column: 1/-1;
  max-width: 55ch;
}
.about__title {
  grid-column: 1/-2;
  max-width: 9ch;
}
.about__body {
  grid-column: 1/-1;
  margin-top: var(--sp_sm);
}
.footer__logo {
  grid-column: 1/-1;
  margin-inline: auto;
  grid-row: 1/2;
  background-color: var(--clr_acc);
  width: 6rem;
  aspect-ratio: 1/1;
}
.footer__links,
.socials,
.footer__address {
  grid-column: 1/-1;
}
article {
  grid-column: 1/-1;
}
.hero__header.is--2 {
  grid-column: 1/3;
}
/* !!!!!!!!!!!!!!!
 !!! Addons 
 !!!!!!!!!! */
.is--btn-x {
  background-image: url(../media/basic-ux.png);
}
.current {
  color: var(--clr_pri);
}
.is--hidden {
  display: none;
}
.is--overflow-hidden {
  overflow: hidden;
}
/* ? Tablet view */
@media only screen and (min-width: 31em) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .footer__links {
    padding: 0;
    margin-top: var(--sp_sm);
  }
  .footer__links > ul > li {
    margin-left: 0;
    margin-top: var(--sp_xxs);
  }
  .footer__links > ul > li:first-child {
    margin-top: var(--sp_xs);
  }
  /* ! layout */
  article {
    grid-column: 1/-1;
  }
  .hero__header {
    grid-column: 2/-1;
    grid-row: 2/3;
    margin-top: var(--sp_lg);
  }
  .hero__sub {
    grid-column: 2/-1;
    text-align: left;
  }
  .hero__img {
    width: 60%;
    right: var(--sp_xs);
    top: 25vh;
  }
  .hero__p {
    grid-column: 1/6;
  }
  header[class="grid"] {
    padding-bottom: var(--sp_lg);
  }
  .exp__title {
    grid-column: 1/-1;
    max-width: 12ch;
  }
  .exp__body {
    grid-column: 1/-3;
  }
  .port__grid {
    grid-column: 1/-3;
  }
  .port__title {
    grid-column: 1/-1;
    max-width: 12ch;
  }
  .port__sub {
    grid-column: 1/-5;
  }
  .about__title {
    grid-column: 1/-1;
  }
  .about__body {
    grid-column: 1/-3;
  }
  .footer__logo {
    grid-column: 1/-1;
    margin-inline: auto;
    grid-row: 1/2;
    /* background-color: var(--clr_pri); */
  }
  .footer__address {
    grid-column: -7/-2;
    align-self: end;
    padding-block: 0;
  }
  #pages {
    grid-column: 2/4;
  }
  #projects {
    grid-column: 4/6;
  }
  .hero__header.is--2 {
    grid-column: 1/8;
  }
}
/* ? Dekstop View */
@media only screen and (min-width: 75em) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    margin-inline: 0;
  }
  /* ! layout */
  article {
    grid-column: 2/-2;
  }
  .hero__header {
    grid-column: 2/-1;
    grid-row: 2/3;
    margin-top: var(--sp_xl);
  }
  .hero__sub {
    grid-column: 4/-1;
  }
  .hero__img {
    width: 40%;
    right: var(--sp_lg);
    top: 20vh;
  }
  .hero__p {
    grid-column: 2/7;
  }
  header[class="grid"] {
    grid-template-rows: auto auto 1fr;
    padding-bottom: var(--sp_lg);
  }
  #nav__btn {
    position: absolute;
    right: var(--sp_sm);
    top: var(--sp_xs);
    z-index: 5;
    padding: 1em 0 1em 1em;
    width: 0.5em;
    aspect-ratio: 1/0.8;
    background-image: url(../media/Menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
  }
  .nav__links {
    position: absolute;
    inset: 10vh 10vw auto auto;
    background-color: transparent;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-block: 0;
  }
  .nav__links > li {
    padding: 0.3em;
  }
  .exp__title {
    grid-column: 2/6;
    max-width: 12ch;
  }
  .exp__body {
    margin-top: var(--sp_lg);
    grid-column: 6/-2;
  }
  .port__grid {
    grid-column: 6/-1;
    grid-row: 1/4;
  }
  .port__title {
    grid-column: 2/6;
    grid-row: 1/2;
    max-width: 12ch;
  }
  .port__sub {
    grid-column: 2/6;
    grid-row: 2/3;
    align-self: start;
  }
  .port__card {
    aspect-ratio: 1/0.6;
    position: relative;
  }
  .about__title {
    grid-column: 2/6;
  }
  .about__body {
    grid-column: 6/-2;
    margin-top: var(--sp_lg);
  }
  .deco {
    transition: var(--transition);
  }
  .port__card:hover > .deco {
    opacity: 0.5;
  }
  .footer__address {
    grid-column: -6/-2;
    align-self: end;
    padding-block: 0;
  }
  .hero__header.is--2 {
    grid-column: 2/6;
    margin-top: var(--sp_lg);
  }
  .art__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .art__p,
  .art__h2,
  .art__h3,
  .art__h4 {
    grid-column: 1/2;
  }
  .art__fig {
    grid-column: 2/-1;
  }
  .skills {
    grid-column: 2/-2;
  }
}
